# Terraform
terraform.tfstate*
.terraform/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# Environment files
snowflake.env
.env

# OS-specific
.DS_Store

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json
